<div class="life">
<h4>ライフワークを追加して下さい</h4>
<%= form_with url:"/themes", method: :post, local: true do |form| %>
  <%= form.text_field :title %>
  <%= form.submit '追加する' %>
<% end %>


<h2>現在のライフワーク</h2>

 <% @themes.each do |theme| %>
 <div class="work">
 <%= link_to theme_path(theme.id) do %>
  ・<%= theme.title %><%end%> <div class="delete"><%= link_to '削除', "/themes/#{theme.id}", method: :delete %></div>
  </div>
  <% end %>
 </div>

<div class="routine">
  <div class="routine-title">
  <h2>ルーティンワーク</h2>
  </div>
  <div class="btn"><%= link_to new_routine_path do %>登録する<% end %></div>
</div>

<div class='routne-title'>
<% @routines.each do |routine| %>
<div class='routine-index'>
・<%= routine.content %>  <%= routine.calendar.name %>  １回あたり<%= routine.how_many %>回
</div>
<% end %>
</div>

<div class="new">
<%= link_to new_works_path do %><h2>ニューライフワークを考えるのコーナー</h2><% end %>
</div>