 <h3>登録した全てを一覧化</h3>
 <div class="new_work">
 <div class="new_theme">
 <% @themes.each do |theme| %>
  <%= theme.title %>
  <% end %>
  </div>
  <div class="new_do">
 <% @work_dos.each do |work_do| %>
  <%= work_do.content %>
  <% end %>
  </div>

  <div class="nwe_end">
   <% @work_ends.each do |work_end| %>
  <%= work_end.content %>
  <% end %>
  </div>
  </div>



  <div class="theme">
  <h4>■以上を踏まえて新しいワークライフを作ってみる？</h4>
<%= form_with url:"/themes", method: :post, local: true, id: "form" do |form| %>
  <%= form.text_field :title, id: "title" %>
  <%= form.submit '追加する' , id: "submit" %>
<% end %>