<!DOCTYPE html>
<html>
  <head>
    <title>ライフワーク管理　The 座標</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
   <header>
    <h1><%= link_to 'ライフワーク管理アプリ The 座標', "/" %></h1>
    <h2>Life Work is Beautiful</h2>
   </header>
  <body>
    <%= yield %>
  </body>
</html>
